
header{
    background-color: #f9d9c4;
    padding: 50px;
    color:aliceblue;
    display:flex;
    flex-direction:row-reverse;
    
}

.card{
    float: left;

}
button {

}
.stack {
    
    display: inline-flex;
    background-color: #f9d9c4;
    flex-direction: column;
    margin: 40px;
}
#searchform{

/* display: flex;
flex-direction: column;
flex-wrap: wrap;
align-content: center;
align-items: stretch; */

}
#localStorageDiv{
    background-color: blueviolet;
    display: contents;
}

#currentweathercontainer{
    display: flex;
    flex-direction: column;
    outline-color: aqua;
    border-style: dotted;
    padding: 20px;
}

#fivedayforcast{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color:#f9d9c4;
   
  
   
}
#fivedayforcast p{
    color:aliceblue;
    display:ruby;
}

